:root{
	--text-color: #656565;
	--bg-color: white;
}

body{
	pading: 0;
	margin: 0;
	background: var(--bg-color);
	box-sizing: border-box;
}


#root{
	width: 100vw;
	height: 100vh;
}

.app-text-color{
	color: var(--text-color);
}

.App, .sign-in, .form,
.form-sign-in, .form-sign-up{
	width: 100%;
	height: 100%;
}


/*=================

	  SIGN-IN

==================*/
.sign-in{
	background-image: url('~/public/images/cct.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.sign-in-side{
	width: 40%;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.sign-in-decor{
	background-color: #D9B5B5;
}


.sign-in-card{
	width: 60%;
	min-width: 300px;
	height: 80%;
	max-height: 600px;

	border: 4px solid rbga( 255, 255, 255, 0.8 );
	border-radius: 5px;

	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: rgba(255, 255, 255, .19);  
	backdrop-filter: blur(6px);*/
	box-shadow: 12px 10px 4px 0 rgba(0, 0, 0, 0.25);
	transition: .2s ease-in-out;
}

.sign-in-card:hover{
	box-shadow: 15px 13px 3px 0 rgba(0, 0, 0, 0.25);
	transform: translate(-2px, -2px);
}

/*=================

	  	FORM

==================*/


@media screen and (max-width: 912px){
	.sign-in-side{
		width: 100%;
	}

	.sign-in-decor{
		display: none !important;
	}
}

