:root{
	--text-color: #656565;
	--bg-color: #ecf0f1;
}

body{
	pading: 0;
	margin: 0;
	background: var(--bg-color);
	box-sizing: border-box;
}

@font-face{
	font-family: DigitalClock;
	src: url('../fonts/clock/TickingTimebombBB.ttf');
}

#root{
	width: 100vw;
	height: 100vh;
	overflow: auto;

}

.app-text-color{
	color: var(--text-color);
}

.App, .gate, .form,
.form-sign-in, .form-sign-up,
.sysadmin-dashboard, .student-dashboard,
.students-account, .teachers-account {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:  0;
	/*transition: .2s ease-in-out;*/
}

.form{
	position: relative;
}

.shadow-right{
	box-shadow: 5px 5px 5px 1px rgba( 0, 0, 0, 0.1 );
}


/*=================

	  gate

==================*/
.gate{
	background-image: url('~/public/images/cct.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.gate-side{
	width: 40%;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.gate-decor{
	background-color: #D9B5B5;
}


.gate-card{
	width: 60%;
	min-width: 300px;
	height: 80%;
	max-height: 600px;

	border: 4px solid rbga( 255, 255, 255, 0.8 );
	border-radius: 5px;

	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: rgba(255, 255, 255, .19);  
	backdrop-filter: blur(6px);*/
	box-shadow: 12px 10px 4px 0 rgba(0, 0, 0, 0.25);
	transition: .2s ease-in-out;
}

.gate-card:hover{
	box-shadow: 15px 13px 3px 0 rgba(0, 0, 0, 0.25);
	transform: translate(-2px, -2px);
}


/*=================

	  	MENU

==================*/
.menu{
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	
	margin: 0;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
	text-transform: capitalize;

	color: white;
}


/*=================

	REACT-CALENDAR

==================*/
.calendar{
	width: 50% !important;
	min-width: 300px !important;
	height: 400px !important;

	background-color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px;
}


.calendar button{
	color: rgba(0, 0, 0, 0.7);
}

.react-calendar__tile--now{
}

.react-calendar__month-view__weekdays__weekday{
	color: #269ed9 !important;
}

.react-calendar__navigation{
	font-weight: bold !important;
}

.react-calendar__tile--active{
	color: white !important;
	background-color: rgba(0, 0, 0, 0.8) !important;
}


/*====================

	GRAPH-CONTAINER

======================*/
.graph-container{
	padding: 0;
	background-color: white;
}

.bar{
	width: 50%;
	min-width: 300px !important;
	/*min-width: 300px !important;*/
	height: 400px;

	overflow: auto;
}

.pie{
	width: 50%;
	min-width: 300px !important;
	/*min-width: 300px !important;*/
	height: 400px;
}


/*====================

		CLOCK

======================*/
.clock{
	font-family: DigitalClock;
	font-size: 50px;
	text-align: left;

	float: right;
	padding: 0;
	margin: 0;
}


/*=====================
	
	STUDENT DASHBOARD

======================*/
.student-dashboard{
	background-color: #f3f4f2;
}

.student-dashboard-info-box{
	background-color: white;

	height: 80%;
	width: 60%;

	border-radius: 5px;
}

/*====================

		QR-BOX

======================*/
.qr-box{
	width: fit-content;

	padding: 25px 10px 10px 10px;
	margin: 50px;

	background-color: white;
	border-radius: 5px;
	position: relative;
}

.qr-box::before{	
	content: "QR CODE";

	width: fit-content;
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translate(-50%, 0px);

	background-color: white;

	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
}


/*==================

	LABELED-TEXT

====================*/
.labeled-text{
	width: 100%;

	color: white;
	text-transform: capitalize;

	border-left: 5px solid #fad605;
	transition: .2s ease-in-out;

	position: relative;
}

.labeled-text-edit-btn{
	display: none;
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(0, -50%);
}

.labeled-text:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.labeled-text:hover .labeled-text-edit-btn{
	display: unset;
}

.labeled-text span:nth-child(1){
	align-self: flex-end;
	color: gray;
}

.labeled-text span:nth-child(1)::after{
	content: ": ";
}

.labeled-text span:nth-child(2){
	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
}

.labeled-text-selected .labeled-text-edit-btn{
	display: unset;
}


/*
		MOBILE AND TABLETS RESPONSE
*/
@media screen and (max-width: 912px){
	.gate-side{
		width: 100%;
	}

	.gate-decor{
		display: none !important;
	}

	.labeled-text{
		background-color: white;
		color: rgba(0, 0, 0, 0.8);
		width: 100%;

		margin: 0;

	}

	.student-dashboard-info-box{
		width: 90%;
		margin: 0 !important;
		padding: 0;
		background-color: white;
	}
}



