:root{
	--text-color: #656565;
	--bg-color: white;
}

body{
	pading: 0;
	margin: 0;
	background: var(--bg-color);
	box-sizing: border-box;
}

@font-face{
	font-family: DigitalClock;
	src: url('../fonts/clock/TickingTimebombBB.ttf');
}

#root{
	width: 100vw;
	height: 100vh;
}

.app-text-color{
	color: var(--text-color);
}

.App, .sign-in, .form,
.form-sign-in, .form-sign-up,
.sysadmin-dashboard {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:  0;
}


/*=================

	  SIGN-IN

==================*/
.sign-in{
	background-image: url('~/public/images/cct.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.sign-in-side{
	width: 40%;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.sign-in-decor{
	background-color: #D9B5B5;
}


.sign-in-card{
	width: 60%;
	min-width: 300px;
	height: 80%;
	max-height: 600px;

	border: 4px solid rbga( 255, 255, 255, 0.8 );
	border-radius: 5px;

	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: rgba(255, 255, 255, .19);  
	backdrop-filter: blur(6px);*/
	box-shadow: 12px 10px 4px 0 rgba(0, 0, 0, 0.25);
	transition: .2s ease-in-out;
}

.sign-in-card:hover{
	box-shadow: 15px 13px 3px 0 rgba(0, 0, 0, 0.25);
	transform: translate(-2px, -2px);
}


/*=================

	  	MENU

==================*/
.menu{
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	
	margin: 0;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
	text-transform: capitalize;

	color: white;
}


/*=================

	REACT-CALENDAR

==================*/
.calendar{
	width: 40% !important;
	min-width: 300px !important;
	height: 400px !important;
	
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px;
}


.calendar button{
	color: rgba(0, 0, 0, 0.7);
}

.react-calendar__tile--now{
}

.react-calendar__month-view__weekdays__weekday{
	color: #269ed9 !important;
}

.react-calendar__navigation{
	font-weight: bold !important;
}

.react-calendar__tile--active{
	color: white !important;
	background-color: rgba(0, 0, 0, 0.8) !important;
}


/*====================

	GRAPH-CONTAINER

======================*/
.graph-container{
	padding: 0;
}

.bar{
	width: 50%;
	min-width: 300px !important;
	height: 400px;

	overflow: auto;
}

.pie{
	width: 50%;
	min-width: 300px !important;
	height: 400px;
}


/*====================

		CLOCK

======================*/
.clock{
	font-family: DigitalClock;
	font-size: 50px;
	text-align: left;

	float: right;
	padding: 0;
	margin: 0;
}

/*
		MOBILE AND TABLETS RESPONSE
*/

@media screen and (max-width: 912px){
	.sign-in-side{
		width: 100%;
	}

	.sign-in-decor{
		display: none !important;
	}
}



