@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--text-color: #656565;
	--bg-color: #c6c7c6;
}

body{
	pading: 0;
	margin: 0;
	background: var(--bg-color);
	box-sizing: border-box;
}

@font-face{
	font-family: DigitalClock;
	src: url('../fonts/clock/TickingTimebombBB.ttf');
}

#root{
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.app-text-color{
	color: var(--text-color);
}

.App, .gate, .form,
.form-sign-in, .form-sign-up,
.sysadmin-dashboard, .student-dashboard,
.students-account, .teachers-account,
.change-password-form-box {
	width: 100%;
	height: 100%;

	padding: 0;
	margin:  0;

	background-color: transparent;
	/*transition: .2s ease-in-out;*/
}

.form-sign-in{

}

.sysadmin-dashboard, .student-dashboard,
.students-account, .teachers-account {
	overflow: auto;
}

.form{
	position: relative;
}

.shadow-right{
	box-shadow: 5px 5px 5px 1px rgba( 0, 0, 0, 0.1 );
}

.qams-row{
	font-size: 13px;
}


/*=================

	  	gate

==================*/
.gate{
	background-image: url('~/public/images/cct.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.gate-side{
	width: 40%;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.gate-decor{
	background-color: #D9B5B5;
}


.gate-card{
	width: 60%;
	min-width: 300px;
	height: 80%;
	max-height: 600px;

	border: 4px solid rbga( 255, 255, 255, 0.8 );
	border-radius: 5px;

	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: rgba(255, 255, 255, .19);  
	backdrop-filter: blur(6px);*/
	box-shadow: 12px 10px 4px 0 rgba(0, 0, 0, 0.25);
	transition: .2s ease-in-out;
}

.gate-card:hover{
	box-shadow: 15px 13px 3px 0 rgba(0, 0, 0, 0.25);
	transform: translate(-2px, -2px);
}


/*=================

	  	MENU

==================*/
.view-box{
	width: 100%;
	height: 100%;
}

.menu{
	width: 100%;
	height: 5%;
	min-height: 50px;
	max-height: 50px;

	background-color: rgba(0, 0, 0, 0.8);
	
	margin: 0;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
	text-transform: capitalize;

	color: white;
}

.view-content{
	width: 100%;

	/*overflow: auto;*/
}


/*=================

	REACT-CALENDAR

==================*/
.calendar{
	width: 50% !important;
	min-width: 300px !important;
	height: 400px !important;

	background-color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px;
}


.calendar button{
	color: rgba(0, 0, 0, 0.7);
}

.react-calendar__tile--now{
}

.react-calendar__month-view__weekdays__weekday{
	color: #269ed9 !important;
}

.react-calendar__navigation{
	font-weight: bold !important;
}

.react-calendar__tile--active{
	color: white !important;
	background-color: rgba(0, 0, 0, 0.8) !important;
}


/*====================

	GRAPH-CONTAINER

======================*/
.graph-container{
	padding: 0;
	background-color: white;
}

.bar{
	width: 50%;
	min-width: 300px !important;
	/*min-width: 300px !important;*/
	height: 400px;

	overflow: auto;
}

.pie{
	width: 50%;
	min-width: 300px !important;
	/*min-width: 300px !important;*/
	height: 400px;
}


/*====================

		CLOCK

======================*/
.clock{
	font-family: DigitalClock;
	font-size: 50px;
	text-align: left;

	padding: 0;
	margin: 0;
}


/*====================

			FIELD BOX

======================*/
/*.field-box{
	width: 100%;
}

.field-box b{
	color: var( --text-color );
}

.field-box b::after{
	content: ":";
}

.field-box p{
	text-align: center;
	flex-grow: 1;
	margin: 0;
}*/


/*=====================
	
	STUDENT DASHBOARD

======================*/
.student-dashboard{
	width: 100%;
	height: 100%;

	max-height: fit-content;
}

.student-dashboard-info-box, .student-dashboard-sched-box {
	width: 80%;
	max-width: 1000px;

	height: fit-content;

	background-color: white;
	color: var( --text-color );
}

.student-dashboard-sched-box { height: 50%; }

/*=====================
	
		STUDENT PROFILE

======================*/
.profile{
	width: 100%;
	height: 100%;	
}

.profile-top-board, 
.profile-bottom-board {
	width: 80%;
	max-width: 1000px;

	background-color: white;
	color: var( --text-color );
}

.student-profile-top-board{
	height: fit-content;
}

.student-profile-bottom-board{
	height: fit-content;
	min-height: 200px;
}



/*====================

		QR-BOX

======================*/
.qr-box{
	width: fit-content;

	padding: 25px 10px 10px 10px;
	margin: 50px;

	background-color: white;
	border-radius: 5px;
	position: relative;
}

.qr-box::before{	
	content: "QR CODE";

	width: fit-content;
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translate(-50%, 0px);

	background-color: white;

	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
}


.qr-component-box{
	width: 100%;
	max-width: 300px;

	height: 100%;
	max-height: 300px;
}

/*==================

	LABELED-TEXT

====================*/
.labeled-text{
	width: 100%;

	color: white;
	text-transform: capitalize;

	border-left: 5px solid #fad605;
	transition: .2s ease-in-out;

	position: relative;
}

.labeled-text-edit-btn{
	display: none;
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(0, -50%);
}

.labeled-text:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.labeled-text:hover .labeled-text-edit-btn{
	display: unset;
}

.labeled-text span:nth-child(1){
	align-self: flex-end;
	color: gray;
}

.labeled-text span:nth-child(1)::after{
	content: ": ";
}

.labeled-text span:nth-child(2){
	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
}

.labeled-text-selected .labeled-text-edit-btn{
	display: unset;
}

/*=======================

		Account-view

========================*/
.account-view{
	width: 80%;
	min-width: 1000px;
	height: 80%;
	min-height: 500px;

	background-color: white;
}

.account-view-top-bar, .account-view-bot-bar{
	color: var( --text-color );
	height:  10%;
}

.account-view-add-user, .account-view-add-section,
.account-view-add-strand {
	width: fit-content;
	transition: .8s ease-in-out;
}


.account-view-add-user:hover, .account-view-add-section:hover,
.account-view-add-strand:hover{
	cursor: pointer;

	width: 150px;
	border-radius: 25px;
	background-color: var( --bg-color );
}

.account-view-add-user:hover::after{
	content: "ADD ACCOUNT";
	font-size: 13px;

	width: 150px;
	
	border-radius: 25px;
	background-color: var( --bg-color );
}

.account-view-add-section:hover::after{
	content: "ADD SECTION";
	font-size: 13px;

	width: 150px;
	
	border-radius: 25px;
	background-color: var( --bg-color );
}

.account-view-add-strand:hover::after{
	content: "ADD STRAND";
	font-size: 13px;

	width: 150px;
	
	border-radius: 25px;
	background-color: var( --bg-color );
}

.account-view-item{
	color: #8e8e8e;
}

.account-view-item:hover{
	background-color: #e8e8e8 !important;
	display: flex;
	align-content: center;
}


/*=======================

		Change password form

========================*/
.change-password-form{
	width: 50%;
	height: 80%;

	background-color: white;
	color: var( --text-color );
}


/*=======================

	Semester & School-year tabs

========================*/
.sem-sy-tabs{
	width: 100%;
	height: 100% !important;
	background-color: #f8f8f8;

	color: var(--text-color);
}

.sem-sy-tab{
	height: 400px;
}



/*=======================

				School-year

========================*/
.sy-left-panel{
	background-color: transparent;
}

.sy-right-panel{
	background-color: white;
}

.sy-item-panel{
	height: 100px;
	overflow: auto;
	position: relative;
}

.sy-item{
	height: 250px;
	position: relative;
	background-color: white;

	transition: .3s ease-in-out;
}

.sy-selected-item{
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	width: 90%;
	height: 90%;
}

.sy-item-hover-btns{
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
}

.sy-item:hover{
	background-color: #e4e4e4;
}

.sy-item:hover .sy-item-hover-btns{
	display: flex;
	flex-direction: row;
}

.sy-item::before{
	content: " ";
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	display: none;

	border-top: 1px dashed rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	/*animation-name: select-sc-item 1s infinit;*/
}

.sy-item:hover::before{
	display: unset;
	animation: select-sc-item .3s ease-in-out forwards;
}

@keyframes select-sc-item{
	from { width: 10px; },
	to { width: 100%; }
}



/*=======================

				Attendance

========================*/
.attendance-box{
	width: 100%;
	height: fit-content;

	max-width: 700px;

	background-color: white;
}

.attendance-box-header{
	background-color: #dda4a5;
}

.attendance-box h1{
	letter-spacing: 5px;
}

.attendance-box-day{
	width: calc( 100% / 7 );
	height: calc( 100% / 6 );

	min-height: 60px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
}

.attendance-box-day:hover{
	/*background-color: #efe0de;*/
}

.attendance-box-day-today{
	background-color: #ddbdb8;
	color: white !important;
}

.attendance-box-past-next-day{
	color: rgba(0, 0, 0, 0.3);
}

/*
		MOBILE AND TABLETS RESPONSE
*/
@media screen and (max-width: 912px){
	.student-dashboard-sched-box { height: 450px; }

	.gate-side{
		width: 100%;
	}

	.gate-decor{
		display: none !important;
	}

	.labeled-text{
		background-color: white;
		color: rgba(0, 0, 0, 0.8);
		width: 100%;

		margin: 0;
	}

	.change-password-form{
		width: 100%;
		height: 100%;
	}
}




::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #d0d0d0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var( --text-color );
}